body {
  font-family: sans-serif;
}

.title {
  display: flex;
  justify-content: space-between;
  background-color: dodgerBlue;
  padding: 10px;
  border-radius: 8px;
}
.title a,
.title h1 {
  color: white;
}


.user-details {
  margin-top: 10px;
  height: 50vh;
  border: solid 1px black;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: dodgerBlue;
  font-size: larger;
  color: white;
}
